body{
    margin: 0;
}
header{
    background-color: black;
}
.flex-container{
    display: flex;
}
.header-left{
    flex: 50%;
}
.header-right{
    flex: 50%;
}
header ul li {
    display: inline;
    margin-left: 40px;
}
header ul li a{
    color: wheat;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
header ul li a:hover{ 
    color:brown;
}

.container2{
    background-color:pink ;
    display: flex;
}
.homie{
    flex:80%;
    word-spacing:55px;
    margin-top: 25px;
    text-align: center;
}
.log{
    flex:20%;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
a:hover{
    color: bisque;
}